USE [master]
GO
/****** Object:  Database [MvcCRUDDB]    Script Date: 8/1/2021 3:07:22 PM ******/
CREATE DATABASE [MvcCRUDDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MvcCRUDDB', FILENAME = N'C:\Users\hoang\MvcCRUDDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MvcCRUDDB_log', FILENAME = N'C:\Users\hoang\MvcCRUDDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MvcCRUDDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MvcCRUDDB]
GO
USE [MvcCRUDDB]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 8/1/2021 3:07:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Position] [varchar](50) NULL,
	[Office] [varchar](50) NULL,
	[Age] [int] NULL,
	[Salary] [int] NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
